svg {
    position: relative;
    display: inline-block;
    top: 5%;
    max-width: 90%;
    left: 5%;
}

.app-intro-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}